@import "reset";

.pg-container {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #f7f8f8;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
}
